<Config>
  <TimeZone>GMT Standard Time</TimeZone>
  <OneDriveSetup></OneDriveSetup>
  <AddFeatures>
    <!-- If you do add a language pack, make sure you add these language add-ons for each one. -->
    <Feature>Language.Basic~~~en-GB~0.0.1.0</Feature>
    <Feature>Language.Handwriting~~~en-GB~0.0.1.0</Feature>
    <Feature>Language.OCR~~~en-GB~0.0.1.0</Feature>
    <Feature>Language.Speech~~~en-GB~0.0.1.0</Feature>
    <Feature>Language.TextToSpeech~~~en-GB~0.0.1.0</Feature>
  </AddFeatures>
  <Language>Language.xml</Language>
</Config>
